extends layout

block content
    .w3-container
        header.w3-container.w3-card-4.w3-purple
            h2=lista.title
    .w3-container
        .w3-card-4
            table.w3-table-all  
                tr
                    th(width='100px') Ano:
                        td=lista.year
                tr
                    th(width='100px') Atores:
                        td=lista.cast
                tr 
                    th(width='100px') Gêneros:
                        td=lista.genres
        br
        button.w3-button.w3-border.w3-blue-grey(onclick="apagaFilme('" + lista._id + "')") Excluir
