extends layout

block content
    .w3-container
        header.w3-container.w3-card-4.w3-purple
            h2 Registrar Novo Filme
        .w3-container
            form.w3-container(action='/filmes' method='POST')
                br
                label
                    b Título
                input.w3-input.w3-border.w3-light-grey(type='text' name='title')
                label 
                    b Ano 
                input.w3-input.w3-border.w3-light-grey(type='text' name='year')
                br
                input.w3-btn.w3-blue-grey(type='submit' value='Enviar')