extends layout

block content
    .w3-container
      header.w3-container.w3-card-4.w3-purple
        h2 Gestão de Filmes
    .w3-container
      ul.w3-ul
        li
          h4
            a(href="http://localhost:3004/filmes") Listar Filmes
        li
          h4
            a(href="http://localhost:3004/filmes/inserir") Inserir Filme